@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #0c0c0c;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navBar{
    width: 100%;
    height: 8vh;
    justify-content: center;
    position: absolute;
    top:0;
}

.logo{
    margin:10px 0 0 60px;
    cursor: pointer;
}

.logo a{
    color: white;
    font-size: 16px;
    margin-left: 10px;
    font-size: 900;
    transition: 0.5s;
    text-decoration: none   ;
}

.logo a:hover{
    color: white;
    font-size: 24px;

}

.fa-bars{
    color: white;
    font-size: 22px;
    margin-right: 85px;
    margin-top: 15px;
    cursor: pointer;
}

.fa-book{
    color:rgb(248, 244, 27);
    font-size: 24px;
}

.topHeader{
    width: 100%;
    justify-content: space-between;
    max-width: 1700px;
}

.navB{
    position: relative;
    height: 90vh;
    width: 6%;
    flex-direction: column;
    margin-left: 100px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.navB::before{
    content: '';
    background-color: rgba(248, 244, 27, 0.493);
    height: 600px;
    width: 1px;
    position: absolute;
    right: 0;
}

.navB a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    transition: 0.5s;
}

.navB a:hover{
    color: rgb(248, 244, 27);
    transition: 0.5s;
    text-decoration: none;
    font-size: 18px;
}

.home1{
    display: none;
}

.hero{
    height: 100vh;
    width: 100%;
    max-width: 1750px;   
}

.content{
    margin-right: 230px;
    position: relative;
}

.content::after{
    content: '';
    background-color: rgba(255, 255, 255, 0.192);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -20px;
}

.titleContent{
    margin-left: 30px;
    flex-direction: column;
    align-items: center;
}

.titleContent h1{
    color:white;
    font-weight: 900;
    font-size:68px;
    
}

.btnTitle{
    font-size: 20px;
    color: 3c3c3c;
    border-radius: 10px;
    background-color: rgb(248, 244, 27);
    border:none;
    cursor: pointer;
    background-size: 20px;
    margin-top: 40px;
    font-weight: bold;
    padding: 5px 10px;
    transition: 0.7s;
}

.btnTitle:hover{
    background-color: #0c0c0c;
    color: white;
    border:1px solid white;
    padding: 15px 30px;
    transition: 0.7s;
}

.homeContent{
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.right{
    width: 70%;
    margin-left: 150px;
}

.options {
    width: 100%;
    margin-top: 40px;
    margin-right: 220px; 
 
}

.options a{
    color:rgba(255, 255, 255, 0.39);
    text-decoration: none;
    
    margin:0 40px;
    height: 150px;
}

.options a:hover{
    color:white;
    transition: 0.5s;
}

.options h3{
   margin-bottom: 20px;
}

.options h3:hover{
    transition: 0.5s; 
    font-weight: 200; 
}


.options p{
    margin-bottom: 20px;
    font-size: 12   px;
}

.sexi{
    width: 1280px;
    transition: 0.5s;
    height: 65vh;
    margin-right: 150px;
}

.worksContent{
    width: 100%;
    height: 100%;
}

.profileContent{
    width: 100%;
    height: 100%;
}

.leftProfile{
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.274);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.profileInfo{
    flex-direction: column;
    position: relative;
}

.profileInfo::after{
    content: '';
    width: 80px;
    height: 1px;
    background-color: rgba(248, 244, 27, 0.493);
    position: absolute;
    bottom: -20px;
}

.profileInfo h3{
    font-size: 28px;
    color:white;
    margin-top: 20px;
}

.profileInfo h4{
    font-size: 12px;
    color:white;
}

.leftProfile img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.profileOptions{
    justify-content: space-evenly;
    height: 50%;
    flex-direction: column;
}

.profileOptions a{
   text-decoration: none;
   margin-left: 10px;
   color:white;
   transition: 0.6s;
}

.profileOptions a:hover{
    text-decoration: none;
    margin-left: 10px;
    color:yellow;
    transition: 0.6s;
    font-size: 18px;
 }

.profileOptions i{
    color: yellow;
    font-size: 20px;
}

.contactUs{
    font-size: 14px;
    color: #0c0c0c;
    border-radius: 10px;
    background-color: rgb(248, 244, 27);
    border:none;
    cursor: pointer;
    background-size: 20px;
    margin-top: 40px;
    font-weight: bold;
    padding: 5px 10px;
    transition: 0.7s;
}

.contactUs:hover{
    background-color: #0c0c0c;
    color: white;
    border:1px solid white;
    padding: 10px 15px;
    transition: 0.7s;
}

.rightProfile{
    width: 70%;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.274);
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1a1a1a;
}

.rightProfile h2{
    color:white;
    font-size: 30px;
    position: relative;
    width: 100%;
    height: 8%;
    text-align: center;
    margin-top: 15px;
}

.rightProfile h2::after{
    position: absolute;
    content: '';
    width: 90%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: -10px;
    left: 40px;
    
}
.contentBooks{  
    width: 100%;
    height: 92%;
    justify-content: space-evenly;
}

.books{
    flex-direction: column;
    width: 50%;
}


.books h3{
    font-size: 22px;
    color: white;
    margin-bottom: 40px;
}


.books img{
    height: 230px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.274);
    cursor: pointer;
}


.books p{
   color:white;
   font-size: 12px;
   width: 70%;
   text-align: justify;
}

